body{
	background-color: lightblue;
}

.container {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-areas:
		"header header"
		"nav main";
	
	grid-template-columns: 100px;
	grid-template-rows: 50px;
  
	background-color: lightblue;
	gap: 2px;
}

header {​
	grid-area: header;
	grid-area: header;
	
	background: darkblue;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: white;
	font-size: x-large;
}



nav {
	grid-area: nav;
	
	background-color: lightgray;
	padding: 10px;
}
	

main {
	grid-area: main;
	
	overflow-y: scroll;
	background: gray;
	padding: 10px;
	margin: 5px; 
}

main p{
	color: white;
}

@media all and (max-width: 600px) {
	.container {
		grid-template-areas: 
			"header nav"
			"main main";
			
		grid-template-columns: 100px;
		grid-template-rows: 50px;
	}
	
	
	header h1 {
		color: white;
		font-size: large;
	}
	
	nav li{
		display: inline;
	}
}