body{
	margin: 0;
	background: green;
	text-align: center;
}
p{
	color: white;
}

section {
	background: gray;
	padding: 10px;
	margin: 5px; 
}

header {
	position: fixed;
	width: 100%;
	height: 80px;
	
	top: 0px;
	left: 0px;
	
	background: darkgray;
	text-align: left;
	padding: 10px;
}


nav {
	position: fixed;
	width: 100px;
	height: 100vh;
	
	top: 100px;
	left: 0px;
	
	background-color: lightgray;
	padding: 10px;
}

main {
	position: fixed;
	width: 100vw;
	height: 100vh;
	
	top: 100px;
	left: 120px;
	
	padding: 10px;
}
footer {
	background: darkgray;
	padding: 10px;
	margin: 5px; 
	
	float: none;
}